@import '../../../assets/styles/global';

.HistoryCoin {
  &-item {
    padding: 1.6rem 1.2rem 0.6rem;
    background: $white;
    border: 1px solid $alto;

    &-row {
      padding: .4rem 0;

      &-text {
        font-size: 1.8rem;

        &.small {
          font-size: 1.4rem;
        }

        strong {
          font-weight: 700;
        }

        &.hightlight {
          font-weight: 500;
          color: $flamingo;
        }

        &.gray {
          color: $dusty-gray;
        }
      }
    }

    .line {
      margin: .4rem -1.2rem;
      height: 1px;
      background: $alto;
    }
  }

  &-pagination {
    margin-top: 2.4rem;
  }
}