@import '../../assets/styles/global';

.Button {
  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    padding: .4rem 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: .5rem;
    width: 100%;
    border-color: $orange-peel;
    color: $black;
    background: $white;
    border-radius: 50px;

    &:disabled {
      opacity: 0.6;
    }

    &.ant-btn-primary {
      background: $orange-peel;
      border-color: $orange-peel;
      color: $white;
    }
  }

  &-icon {
    flex: 0 0 2.4rem;
    max-width: 2.4rem;
    height: 2.4rem;
    margin-right: .4rem;
  }
}