@import '@/assets/styles/_global.scss';

.BooksItem {
  transition: $common-transition;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &.quote-book {
    .BooksItem {
      box-shadow: 0px .4rem .4rem rgba($black, 0.25);

      &-image {
        width: 21.3rem;
        height: 27.2rem;
      }
    }
  }

  &-image {
    margin: 0 auto 1.6rem;
    max-width: 24.3rem;
    width: 100%;
    height: 29.5rem;
    @include centerOriginImage;

    img {
      border-radius: 1rem;
    }
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }
}