@import '../../../assets/styles/global';

.BookPdf {
  .react-pdf__Document {
    pointer-events: none;
  }

  .react-pdf__Page__svg,
  .react-pdf__Page__canvas {
    margin: 0 auto;
    max-width: 100%;
    height: auto !important;
  }

  &-content {
    user-select: none;
    pointer-events: none;
    white-space: pre-line;
  }
}