@import '../../../assets/styles/global';

.ModalBuyBook {
  &-wrapper {
    padding: 2.2rem 3.6rem;
  }

  .ant-form-item-label > label {
    font-size: 1.8rem;
  }

  &-text {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 1.8rem;
    margin-bottom: 1.8rem;
    border-bottom: 1px solid $mercury;

    strong {
      margin-left: 1.6rem;
      font-size: 2.4rem;
      font-weight: 500;
      color: $flamingo;

      small {
        font-size: 1.6rem;
        margin-left: .4rem;
      }
    }
  }

  &-submit {
    margin-top: 3.2rem;
  }
}