@import '../../assets/styles/global';

.Modal {
  .ant-modal-content {
    border-radius: 1rem;
    overflow: hidden;

    .ant-modal-body {
      padding: 0;
    }
  }

  &-close {
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 8;
  }

  &-header {
    text-align: center;
    padding: 1.2rem 1rem;
    background: $orange-peel;
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $white;
  }
}