@import '../../assets/styles/global';

.HistoryTranscation {
  &-tabs {
    background: $white;
    box-shadow: $common-shadow;
    padding: 2rem 2.4rem;


    &-header {
      margin-bottom: 2.4rem;

      &-item {
        color: $black;
        padding: .8rem 4rem;
        transition: $common-transition;
        cursor: pointer;
        background: $concrete;
        text-align: center;
        font-size: 1.6rem;
        border-radius: 4rem;
        font-weight: 400;

        &:not(.active):hover {
          color: $orange-peel;
        }

        &.active {
          font-weight: 600;
          color: $white;
          background: $orange-peel;
        }
      }
    }
  }
}