/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$ebony-clay: #2B3141;
$orange-peel: #FF9F00;
$wild-sand: #F5F4F4;
$cinder: #08070C;
$scorpion: #5F5E5E;
$silver: #C4C4C4;
$mercury: #E3E3E3;
$gray: #868686;
$alto: #d9d9d9;
$mine-shaft: #333333;
$iron: #D8D9DB;
$concrete: #F2F2F2;
$boulder: #777777;
$flamingo: #EE4D2C;
$brown: #925B00;
$dusty-gray: #9B9595;
$pomegranate: #F5360F;
$green-haze: #01A358;
$amber: #FFC107;
$nobel: #B7B4B4;
$razzmatazz: #E20A62;
$alabaster: #F8F8F8;
$moon-raker: #D5DCF8;
$titan-white: #E9EDFF;