@import '@/assets/styles/_global.scss';

.Header {
  &-top {
    background: $ebony-clay;
    padding: 8px 0;

    &-contact {
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;

      .Icon {
        flex: 0 0 1.6rem;
        max-width: 1.6rem;
        height: 1.6rem;
        margin-right: 4px;
      }
    }
  }

  &-middle {
    // border-bottom: 1px solid $wild-sand;
    background: $white;

    &-logo {
      max-width: 25.5rem;
      display: block;

      @media (max-width: 575px) {
        max-width: 20rem;
      }

      img {
        width: 100%;
      }
    }

    &-search {
      max-width: 70rem;
      margin: 0 auto;

      @media (max-width: 991px) {
        margin-bottom: 2.4rem;
      }

      .ant-input-affix-wrapper {
        height: 5rem;
        padding: .4rem 3.2rem;
        background: $wild-sand;
        border-radius: 5rem;

        @media (max-width: 991px) {
          padding: .4rem 1.6rem;
        }

        .ant-input {
          font-size: 1.8rem;
          font-weight: 500;
          background: transparent;

          &::placeholder {
            color: $scorpion;
          }
        }
      }

      .Icon {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
      }
    }

    &-account {
      cursor: pointer;

      &-menu {
        cursor: pointer;
        margin-left: 1.6rem;

        .Icon {
          width: 4rem;
          height: 4rem;
        }
      }

      &-dropdown {
        min-width: 41.4rem !important;

        &.ant-dropdown-placement-bottomRight>.ant-dropdown-arrow {
          right: 5rem;
        }

        .ant-dropdown-arrow {
          background: #fe8742;

          &::before {
            background: none;
          }
        }
      }

      &-name {
        margin-right: 1.8rem;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: capitalize;

        span {
          transition: $common-transition;
          padding: 0 .2rem;
          cursor: pointer;

          &:hover {
            color: $orange-peel;
          }
        }
      }
    }
  }

  &-bottom {
    background: $white;
    border-top: 1px solid #F5F4F4;
    border-bottom: 1px solid #F5F4F4;
    margin-bottom: 3rem;

    &-close {
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 1.6rem;
      right: 1.6rem;
      z-index: 2;
      cursor: pointer;
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, 0.6);
      transition: $common-transition;
      opacity: 0;
      pointer-events: none;
      z-index: 3;

      &.active {
        opacity: 1;
        pointer-events: unset;
      }
    }

    @media (max-width: 991px) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 4;
      height: 100vh;
      overflow: auto;
      width: 40rem;
      padding: 6.2rem 2.4rem 2.4rem;
      transition: $common-transition;
      transform: translateX(100%);

      &.active {
        transform: translateX(0%);
      }

      .container {
        padding: 0;
      }

      .ant-row {
        flex-direction: column;
        align-items: flex-start;

        .ant-col {
          width: 100%;
        }
      }
    }

    &-list {
      max-width: 89.5rem;
      margin: 0 auto;

      &-item {
        position: relative;
        color: #5A5A5A !important;
        font-size: 2rem;
        font-weight: 500;
        padding: 1.2rem 0;
        display: block;
        cursor: pointer;

        &:hover {
          &::before {
            transform: translateX(-50%) scaleX(1);

            @media (max-width: 991px) {
              transform: translateX(0%) scaleX(1);
            }
          }
        }

        &.active {
          text-transform: uppercase;

          &::before {
            transform: translateX(-50%) scaleX(1);

            @media (max-width: 991px) {
              transform: translateX(0%) scaleX(1);
            }
          }
        }

        &::before {
          position: absolute;
          content: '';
          transition: $common-transition;
          width: 0.6rem;
          border-radius: 50%;
          height: 0.6rem;
          background: #FF9F00;
          left: 50%;
          transform: translateX(-50%) scaleX(0);
          bottom: 1rem;

          @media (max-width: 991px) {
            transform-origin: left;
            left: 0;
            transform: translateX(0%) scaleX(0);
          }
        }
      }
    }
  }
}