@import '../../assets/styles/global';

.Faq {
  &-wrapper {
    padding: 5rem 0;
  }

  .ant-collapse {
    border: none;
    background: transparent;

    .ant-collapse-item {
      border: 1px solid $mercury;
      border-radius: 0;
      background: $white;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      .ant-collapse-header {
        padding: 1.4rem 4.4rem 1.4rem 1.6rem;
        font-size: 1.6rem;
        background: rgba($black, 0.05);
      }

      .ant-collapse-content {
        background: transparent;
        border-color: $mercury;

        .ant-collapse-content-box {
          padding: 1.4rem 1.6rem;

          * {
            font-size: 1.6rem !important;
            color: $scorpion !important;
          }
        }
      }
    }

    .ant-collapse-arrow {
      top: calc(50% - 0.6rem) !important;

      .Icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}