@import '@/assets/styles/_global.scss';

.Banner {
  position: relative;
  height: 35.5rem;

  &-bg {
    @include fullAbsolute;
    @include centerScaleImage;
    z-index: -1;
  }

  &-title {
    @include fullAbsolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($black, 0.6);
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
  }
}